@import "tailwindcss";

body {
  margin: 0;
  background-color: #F8FAFC; 
}

.react-flow__attribution {
  display: none;
}

.react-flow__controls {
  flex-direction: row !important;
}

.react-flow__controls-button {
  border-bottom: none !important;
  border-right: 1px solid #E2E8F0 !important;
}

.react-flow__controls-button:last-child {
  border-right: none !important;
}


.react-flow__controls-button:hover {
  background-color: #F8FAFC !important; 
}

@media (min-width: 768px) {
  .react-flow__controls {
    flex-direction: row !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    bottom: 24px !important;
  }
  .react-flow__controls-button {
    border-bottom: none !important;
    border-right: 1px solid #E2E8F0 !important;
  }
  .react-flow__controls-button:last-child {
    border-right: none !important;
  }
  .react-flow__controls-button:hover {
    background-color: #F8FAFC !important;
  }
}

@media (max-width: 767px) {
  .react-flow__controls {
    flex-direction: column !important;
    left: 16px !important;
    bottom: 24px !important;
  }
  .react-flow__controls-button {
    border-bottom: 1px solid #E2E8F0 !important;
    border-right: none !important;
  }
  .react-flow__controls-button:last-child {
    border-bottom: none !important;
  }
}