@import "tailwindcss";

body {
  margin: 0;
  background-color: #F8FAFC; 
}

.react-flow__attribution {
  display: none;
}

.react-flow__controls {
  flex-direction: row !important;
}

.react-flow__controls-button {
  border-bottom: none !important;
  border-right: 1px solid #E2E8F0 !important;
}

.react-flow__controls-button:last-child {
  border-right: none !important;
}


.react-flow__controls-button:hover {
  background-color: #F8FAFC !important; 
}
